#maven
app/target/
app/pom.xml.tag
app/pom.xml.releaseBackup
app/pom.xml.versionsBackup
app/pom.xml.next
app/release.properties
app/dependency-reduced-pom.xml
app/buildNumber.properties
app/.mvn/timing.properties

#native
jni/proxom.so

#build
build